{% extends 'appsettings/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"> 
{% endblock %}
{% block content %}
<div class = "contact">
    <h1>
        Як зв`язатися з нами
    </h1>
    <b>
    <p>
        Наш магазин знаходиться в місто Дніпро вулиця ? дім ?
    </p>
    <p>
        Якщо у вас виникла проюлемі з сайтом подзвонить на телефон:+380500849720
    </p>
    <p>
        Якщо ви хочете звьязатіся з менеджиром дзвонить на телефон:+380935023997
    </p>
    <p>
        Якщо у вас є пропозиції або хочете рацювати в нас то дзвоньть на телефоном:+380932323144
    </p>
    </b>
</div>
{% endblock %}

