{% extends 'appsettings/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'Contact_page/css/style.css' %}"> 
{% endblock %}
{% block content %}
<div class = "contact">
    <h1>
        Як зв`язатися з нами
    </h1>
    <b>
    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimg.freepik.com%2Ffree-vector%2Fdifferent-people-asking-questions_23-2148934441.jpg%3Fsize%3D626%26ext%3Djpg%26ga%3DGA1.1.386372595.1697760000%26semt%3Dais&tbnid=Y7CP6OYljqiF1M&vet=12ahUKEwjT8Yi3nYWCAxVF4bsIHYEcDJgQMygBegQIARBG..i&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fpeople-think&docid=OBVG4ZeB9lIeJM&w=626&h=417&q=people%20think&ved=2ahUKEwjT8Yi3nYWCAxVF4bsIHYEcDJgQMygBegQIARBG" alt="">
    <p>
        Наш магазин знаходиться в місто Дніпро вулиця ? дім ?
    </p>
    <p>
        Якщо у вас виникла проюлемі з сайтом подзвонить на телефон:+380500849720
    </p>
    <p>
        Якщо ви хочете звьязатіся з менеджиром дзвонить на телефон:+380935023997
    </p>
    <p>
        Якщо у вас є пропозиції або хочете рацювати в нас то дзвоньть на телефоном:+380932323144
    </p>
    </b>
</div>
{% endblock %}

