*{
    padding: 0;
    margin: 0;
        
}
.authreg{
    padding: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buton{
    width:260px;
    border: 2px solid rgb(61, 108, 238);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    transition: 0.5s background-color;
    font-size: 40px;
    
}   
.buton:hover{
    background-color: rgb(61, 108, 238);
    color: white;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    gap: 10px;
    font-family: 'Gabarito', cursive;
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* input{
    border-radius: 30%;
} */
.reg{
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.input {
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid transparent;
    outline: none;
    transition: all 300ms ease-in-out;
    width: 250px;
    color: black;
}
input:focus {
    background-color: rgb(19, 49, 58);
    border: 1px solid rgb(202, 202, 202);
    color: rgb(255, 255, 255);
}
.checkbox{
    display: flex;
    gap:5px;
}
.error p{
    color: red;
    font-size: 20px;
}
#button_send{
    cursor: pointer;
}