<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'appsettings/css/style.css' %}">
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        <img class = "logo" src="{% static 'appsettings/images/123.png' %}" alt="">
        <a href="{% url 'Main_page' %}">Main</a>
        <a href="{% url 'Product_page' %}">Product</a>
        <a href="{% url 'Shopping_cart_page' %}">Cart</a>
        <a href="{% url 'Contact_page' %}">Contact</a>
        {% if username %}
            <a class = 'button' href="{% url 'Authorization_Registration' %}">Вітаємо, {{username}}!</a>
        {% else %}
            <a class = 'button' href="{% url 'Authorization_Registration' %}">Sign in</a>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <h2>
            Якщо виникли питання телефонуйте на:
        </h2>   
        <p class = 'footerp'>
            +380500849720
        </p>
        <p class = 'footerp'>
            +380935023997
        </p>
        <p class = 'footerp'>
            +380932323144
        </p>
    </footer>
</body>
</html>