{% extends 'appsettings/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'Authorization_Registration/css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Inria+Sans:wght@700&family=Open+Sans:ital,wght@0,500;1,400&family=PT+Sans+Narrow&family=Roboto:wght@500&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class = "reg">
    <h1>Login</h1>
    <form action="#" method="POST">
        {% csrf_token %}
        <input type="text" class = "input" name="username" placeholder="Your Username">
        <input type="password" class = "input" name='password' placeholder="Your Password">
        {% if error %}
            <p class="error">{{error}}</p>
        {% endif %}
        <input type="submit" class = "input" id = 'button_send' value="Send">
    </form>
</div>
{% endblock %}