{% extends 'appsettings/base.html' %}
{% load static %}
{% block links %}
{% endblock %}
{% block content %}
<h1>Вітаю в магазині телефонів!!!</h1>
<h2>В нашому магазині ви знайдете телефон на ваш смак, тут є багато телефонів, від бюджетжетних та гарних, до дорогих з великим функціоналом.</h2>
<h2>Наші телефони якісні та потужні, в нас різноманітний вибір телефонів</h2>
<h2>В нас дуже швидко з'являються новинки за низькими цінами</h2>
<h2>Якщо тобі потрібен телефон, звертайся до нас!!!</h2>
{% endblock %}
{% block footer %}
<h2>
    Якщо виникли питання телефонуйте на:
</h2> 
<p class = 'footerp'>
    +380500849720
</p>
<p class = 'footerp'>
    +380935023997
</p>
<p class = 'footerp'>
    +380932323144
</p>
{% endblock %}