.main{
    display: flex;
    flex-direction: row;
}
img{
    border-radius: 20px;
}
.img{
    margin: 30px;
    display: inline-block;
}
.content{
    display: flex; 
    justify-content: center; 
    margin: 0px auto;
    flex-direction: column;
    text-align: center;
}
.shop{
    height: 100%;
    width: 50%;
    background-color: rgba(2, 21, 40, 0.452);
    color: white;
    font-size: 50;
}

