{% extends 'Product_page/base.html' %}
{% load static %}
{% block blockone %}
<h1>IPHONE 15</h1>
<a href="#"><img height="300" width="250" src="{% static 'apple/img/iphone15.jpg' %}" alt=""></a>
<p>
    Экран (6.1", OLED (Super Retina XDR), 2556x1179) / Apple A16 Bionic / двойная основная камера: 48 Мп + 12 Мп,<br>
    фронтальная камера: 12 Мп / 128 ГБ встроенной памяти / 3G / LTE / 5G / GPS / Nano-SIM / iOS 17
</p>
<h1>ЦІНА: 35 599₴</h1>
{% endblock %}
{% block blocktwo %}
<h1>IPHONE 14</h1>
<a href="#"><img height="300" width="300" src="{% static 'apple/img/iphone14.jpeg' %}" alt=""></a>
<p>
    Экран (6.1", OLED (Super Retina XDR), 2556x1179) / Apple A16 Bionic / основная квадро-камера: 48 Мп + 12 Мп + 12 Мп
    + 12 Мп,<br> фронтальная камера: 12 Мп / 128 ГБ встроенной памяти / 3G / LTE / 5G / GPS / Nano-SIM / iOS 16
</p>
<h1>ЦІНА: 30 899₴</h1>
{% endblock %}
{% block blockthree %}
<h1>IPHONE 13</h1>
<a href="#"><img height="300" width="230" src="{% static 'apple/img/iphone13.jpg' %}" alt=""></a>
<p>
    Экран (6.1", OLED (Super Retina XDR), 2556x1179) / Apple A14 Bionic / двойная основная камера: 48 Мп + 12 Мп,<br>
    фронтальная камера: 12 Мп / 128 ГБ встроенной памяти / 3G / LTE / 5G / GPS / Nano-SIM / iOS 15
</p>
<h1>ЦІНА: 27 899₴</h1>
{% endblock %}
{% block blockfour %}
<h1>IPHONE 12</h1>
<a href="#"><img height="300" width="300" src="{% static 'apple/img/iphone12.jpg' %}" alt=""></a>
<p>
    Экран (6.1", OLED (Super Retina XDR), 2532x1170) / Apple A14 Bionic / двойная основная камера: 48 Мп + 12 Мп,<br>
    фронтальная камера: 12 Мп / 128 ГБ встроенной памяти / 3G / LTE / 5G / GPS / Nano-SIM / iOS 14
</p>
<h1>ЦІНА: 20 899₴</h1>
{% endblock %}