{% extends 'Product_page/base.html' %}
{% load static %}
{% block blockone %}
    <h1>Google Pixel 7</h1>
    <a href="#"><img height="300" width="250" src="{% static 'pixel/img/7.jpg' %}" alt=""></a>
    <p>
        Экран (6.3", OLED, 2400х1080) / Google Tensor G2 (2 х 2.85 ГГц + 2 х 2.35 ГГц + 4 х 1.8 ГГц) / двойная основная камера: 50 Мп + 12 Мп, фронтальная 10.8 Мп / RAM 8 ГБ / 128 ГБ встроенной памяти / 3G / LTE / 5G / GPS / поддержка 2х SIM-карт (Nano-SIM, eSim) / Android 13 / 4355 мА*ч
    </p>
    <h1>ЦІНА: 23 999₴</h1>
{% endblock %}
{% block blocktwo %}
    <h1>Google Pixel 6</h1>
    <a href="#"><img height="300" width="300" src="{% static 'pixel/img/6.jpg' %}" alt=""></a>
    <p>
        Экран (6.4", OLED, 2400х1080) / Google Tensor G2 (2 х 2.85 ГГц + 2 х 2.35 ГГц + 4 х 1.8 ГГц) / двойная основная камера: 50 Мп + 12 Мп, фронтальная 10.8 Мп / RAM 6 ГБ / 128 ГБ встроенной памяти / 3G / LTE / 5G / GPS / поддержка 2х SIM-карт (Nano-SIM, eSim) / Android 13 / 4355 мА*ч
    </p>
    <h1>ЦІНА: 18 999₴</h1>
{% endblock %}
{% block blockthree %}
    <h1>Google Pixel 7 Pro</h1>
    <a href="#"><img height="300" width="300" src="{% static 'pixel/img/7pro.jpg' %}" alt=""></a>
    <p>
        Экран (6.7", OLED, 3120х1440) / Google Tensor G2 (2 х 2.85 ГГц + 2 х 2.35 ГГц + 4 х 1.8 ГГц) / двойная основная камера: 50 Мп + 12 Мп, фронтальная 10.8 Мп / RAM 12 ГБ / 128 ГБ встроенной памяти / 3G / LTE / 5G / GPS / поддержка 2х SIM-карт (Nano-SIM, eSim) / Android 13 / 4355 мА*ч
    </p>
    <h1>ЦІНА: 33 999₴</h1>
{% endblock %}
{% block blockfour %}
    <h1>Google Pixel 6a</h1>
    <a href="#"><img height="300" width="300" src="{% static 'pixel/img/6a.jpg' %}" alt=""></a>
    <p>
        Экран (6.1", OLED, 2400х1080) / Google Tensor G2 (2 х 2.85 ГГц + 2 х 2.35 ГГц + 4 х 1.8 ГГц) / двойная основная камера: 50 Мп + 12 Мп, фронтальная 10.8 Мп / RAM 12 ГБ / 128 ГБ встроенной памяти / 3G / LTE / 5G / GPS / поддержка 2х SIM-карт (Nano-SIM, eSim) / Android 13 / 4355 мА*ч
    </p>
    <h1>ЦІНА: 13 899₴</h1>
{% endblock %}