{% extends 'Product_page/base.html' %}
{% load static %}
{% block blockone %}
    <h1>Samsung Galaxy A24</h1>
    <a href="#"><img height="300" width="250" src="{% static 'samsung/img/a24.jpg' %}" alt=""></a>
    <p>
        Экран (6.5", Super AMOLED, 2340x1080) / Mediatek Helio G99 (2 x 2.6 ГГц + 6 x 2.0 ГГц) / основная тройная камера: 50 Мп + 5 Мп + 2 Мп, фронтальная камера: 13 Мп / RAM 6 ГБ / 128 ГБ встроенной памяти + microSD (до 1 ТБ) / 3G / LTE / GPS / ГЛОНАСС / BDS / поддержка 2х SIM-карт (Nano-SIM) / Android 13 / 5000 мА*ч
    </p>
    <h1>ЦІНА: 8 999₴</h1>
{% endblock %}
{% block blocktwo %}
    <h1>Samsung Galaxy A34</h1>
    <a href="#"><img height="300" width="250" src="{% static 'samsung/img/a34.jpg' %}" alt=""></a>
    <p>
        Экран (6.6", Super AMOLED, 2340x1080) / Mediatek Dimensity 1080 (2 x 2.6 ГГц + 6 x 2.0 ГГц) / основная тройная камера: 48 Мп + 8 Мп + 5 Мп, фронтальная камера: 13 Мп / RAM 8 ГБ / 256 ГБ встроенной памяти + microSD (до 1 ТБ) / 3G / LTE / 5G / GPS / A-GPS / ГЛОНАСС / BDS / поддержка 2х SIM-карт (Nano-SIM) / Android 13 / 5000 мА*ч
    </p>
    <h1>ЦІНА: 14 999₴</h1>
{% endblock %}
{% block blockthree %}
    <h1>Samsung Galaxy S21 FE</h1>
    <a href="#"><img height="300" width="230" src="{% static 'samsung/img/s21.jpg' %}" alt=""></a>
    <p>
        Экран (6.4", Dynamic AMOLED 2X, 2340x1080) / Qualcomm Snapdragon 888 (2.84 ГГц) / тройная основная камера: 12 Мп + 12 Мп + 8 Мп, фронтальная 32 Мп / RAM 8 ГБ / 256 ГБ встроенной памяти / 3G / LTE / 5G / GPS / поддержка 2х SIM-карт (Nano-SIM) / Android 11 / 4500 мА*ч
    </p>
    <h1>ЦІНА: 22 999₴</h1>
{% endblock %}
{% block blockfour %}
    <h1>Samsung Galaxy S23</h1>
    <a href="#"><img height="300" width="250" src="{% static 'samsung/img/s23.jpg' %}" alt=""></a>
    <p>
        Экран (6.1", Dynamic AMOLED 2X, 2340x1080) / Qualcomm Snapdragon 8 Gen 2 for Galaxy (3.36 ГГц + 2.8 ГГц + 2.8 ГГц + 2.0 ГГц) / тройная основная камера: 50 Мп + 12 Мп + 10 Мп, фронтальная 12 Мп / RAM 8 ГБ / 256 ГБ встроенной памяти / 3G / LTE / 5G / GPS / поддержка 2х SIM-карт (Nano-SIM) / Android 13 / 3900 мА*ч
    </p>
    <h1>ЦІНА: 35 899₴</h1>
{% endblock %}