{% extends 'Product_page/base.html' %}
{% load static %}
{% block blockone %}
    <h1>XIAOMI 13T</h1>
    <a href="#"><img height="300" width="350" src="{% static 'xiaomi/img/13t.jpg' %}" alt=""></a>
    <p>
        Экран (6.67", AMOLED, 2712x1220) / MediaTek Dimensity 8200 Ultra (1 x 3.1 ГГц + 3 x 3.0 ГГц + 4 x 2.0 ГГц) / тройная
        основная камера: 50 Мп + 50 Мп + 12 Мп, фронтальная 20 Мп / RAM 8 ГБ / 256 ГБ встроенной памяти / 3G / LTE / 5G /
        GPS / поддержка 2х SIM-карт (Nano-SIM) / Android 13 (MIUI 14) / 5000 мА*ч
    </p>
    <h1>ЦІНА: 25 999₴</h1>
{% endblock %}
{% block blocktwo %}
    <h1>Xiaomi Redmi Note 12</h1>
    <a href="#"><img height="300" width="250" src="{% static 'xiaomi/img/note12.jpg' %}" alt=""></a>
    <p>
        Экран (6.67", AMOLED, 2400x1080) / Qualcomm Snapdragon 685 (2.8 ГГц) / тройная основная камера: 50 Мп + 8 Мп + 2 Мп,
        фронтальная 13 Мп / RAM 8 ГБ / 256 ГБ встроенной памяти + microSD (до 1 ТБ) / 3G / LTE / GPS / поддержка 2х SIM-карт
        (Nano-SIM) / Android 13 / 5000 мА*ч
    </p>
    <h1>ЦІНА: 15 999₴</h1>
{% endblock %}
{% block blockthree %}
    <h1>Xiaomi Redmi 10 Pro</h1>
    <a href="#"><img height="300" width="230" src="{% static 'xiaomi/img/redmi10.jpg' %}" alt=""></a>
    <p>
        Экран (6.5", 2400x1080) / Mediatek Helio G88 (2.0 ГГц + 1.8 ГГц) / основная квадро-камера: 50 Мп + 8 Мп + 2 Мп + 2
        Мп, фронтальная 8 Мп / RAM 4 ГБ / 128 ГБ встроенной памяти + microSD (до 512 ГБ) / 3G / LTE / GPS / поддержка 2х
        SIM-карт (Nano-SIM) / Android 11 / 5000 мА*ч
    </p>
    <h1>ЦІНА: 10 999₴</h1>
{% endblock %}
{% block blockfour %}
    <h1>XIAOMI 13T PRO</h1>
    <a href="#"><img height="300" width="300" src="{% static 'xiaomi/img/13tpro.jpg' %}" alt=""></a>
    <p>
        Экран (6.67", AMOLED, 2712x1220) / MediaTek Dimensity 9200 Plus (1 x 3.35 ГГц + 3 x 3.0 ГГц + 4 x 2.0 ГГц) / тройная
        основная камера: 50 Мп + 50 Мп + 12 Мп, фронтальная 20 Мп / RAM 12 ГБ / 512 ГБ встроенной памяти / 3G / LTE / 5G /
        GPS / поддержка 2х SIM-карт (Nano-SIM) / Android 13 (MIUI 14) / 5000 мА*ч
    </p>
    <h1>ЦІНА: 35 999₴</h1>
{% endblock %}